* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f7f7f7;
    color: #111827;
}

/* HEADER */
header {
    border-bottom: 2px solid #1E3A8A;
}

.header-container {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family:'Orbitron',sans-serif;
    font-size:1.6rem;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #111827;
}

/* MAIN */
.container {
    max-width: 1100px;
    margin: 30px auto;
}

/* CATEGORIES */
.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.category-card {
    background: #111827;
    border-radius: 12px;
    padding:20px 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.category-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

/* BRANDS */
.brands {
    margin-top: 50px;
    text-align: center;
}

.brand-logos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.brand-logos img {
    height: 40px;
}

/* FOOTER */
footer {
    border-top: 2px solid #1E3A8A;
    margin-top: 50px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* CATALOG */
.catalog-layout {
    display: flex;
    gap: 30px;
}

.filters {
    width: 250px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.filters h3 {
    margin-bottom: 10px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    background: linear-gradient(180deg, #0f172a, #020617);
    color: #fff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 90px;
    margin-bottom: 10px;
}

.product-card button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-main {
    background: #fff;
}

.btn-secondary {
    background: #e5e7eb;
}
