/* CART ITEM */
.cart-item {
    background:#0f2027;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.item-img {
    width: 40px;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.item-name {
    flex: 1;
}

.item-counter {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.item-counter button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: white;
    color: #111827;
    font-weight: bold;
}

.item-counter button:hover {
    background: #e5e7eb;
}

.item-counter span {
    margin: 0 10px;
}

.item-price {
    width: 100px;
    text-align: right;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.total {
    font-size: 1.2rem;
    font-weight: bold;
}

.checkout-btn {
    padding: 12px 24px;
    background: #1E3A8A;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.checkout-btn:hover {
    background: #1e40af;
}