* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f7f7f7;
    color: #111827;
}

/* HEADER */
header {
    border-bottom: 2px solid #1E3A8A;
}

.header-container {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #111827;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
}

.more-button {
    cursor: pointer;
}

.more-options-wrapper {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 55px;
    gap: 5px;
    background-color: #f7f7f7;
    padding: 5px;
    border: 2px solid #1E3A8A;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

nav a {
    margin: 0 10px;
}

/* FOOTER */
footer {
    border-top: 2px solid #1E3A8A;
    margin-top: 50px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* Адаптивность */
@media (max-width: 768px) {
    .header-container {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #eee;
    }
    
    nav a {
        margin: 5px 0;
        padding: 8px 0;
    }
    
    .more-wrapper {
        display: block;
        margin: 5px 0;
    }
    
    .more-options-wrapper {
        position: static;
        display: flex;
        flex-direction: column;
        border: none;
        padding-left: 15px;
        margin-top: 5px;
    }
    
    .footer-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}