* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f7f7f7;
    color: #111827;
}

/* HEADER */
header {
    border-bottom: 2px solid #1E3A8A;
}

.header-container {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family:'Orbitron',sans-serif;
    font-size:1.6rem;
}

a {
    text-decoration: none;
    color: #111827;
}
a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
}
.more-button {
    cursor:pointer;
}
.more-options-wrapper {
    display: none;
    position:absolute;
    flex-direction: column;
    top:55px;
    gap:5px;
    background-color:#f7f7f7;
    padding:5px;
    border:2px solid #1E3A8A;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
nav a {
    margin: 0 10px;
}

/* FOOTER */
footer {
    border-top: 2px solid #1E3A8A;
    margin-top: 50px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap:100px;
}

/* Бургер-меню */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #111827;
    margin: 3px 0;
    transition: 0.3s;
}

.bar-open-top {
    transform: rotate(45deg) translate(5px, 5px);
}

.bar-open-middle {
    opacity: 0;
}

.bar-open-bottom {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Адаптивность */
@media (max-width: 768px) {
    .header-container {
        padding: 10px;
    }
    
    .menu-toggle {
        display: flex;
    }
    
    nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: white;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        z-index: 100;
    }
    
    nav.active {
        display: flex;
    }
    
    nav a {
        margin: 10px 0;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    
    .more-wrapper {
        display: none;
    }
    
    .footer-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}