* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f7f7f7;
    color: #111827;
}

/* HEADER */
header {
    border-bottom: 2px solid #1E3A8A;
}

.header-container {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family:'Orbitron',sans-serif;
    font-size:1.6rem;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #111827;
}

/* FOOTER */
footer {
    border-top: 2px solid #1E3A8A;
    margin-top: 50px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}