/* MAIN */
.container {
    max-width: 1100px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
}

/* CATEGORIES */
.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.category-card {
    background: #111827;
    border-radius: 12px;
    padding:20px 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.category-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

/* BRANDS */
.brands {
    margin-top: 50px;
    text-align: center;
}

.brand-logos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.brand-logos img {
    height: 40px;
}

/* Адаптивность для главной страницы */
@media (max-width: 1150px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .brand-logos {
        gap: 60px;
    }
}

@media (max-width: 900px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .brand-logos {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .categories {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 20px;
    }
    
    .category-card {
        padding: 15px 30px;
    }
    
    .category-card img {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    
    .brand-logos {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .header-container {
        padding: 10px 5px;
    }
    
    .category-card {
        padding: 10px 15px;
    }
    
    .category-card img {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }
    
    .tImg {
        font-size: 1rem;
    }
    
    .brand-logos {
        gap: 20px;
    }
    
    .brand-logos img {
        height: 30px;
    }
}